html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: iransans;
  src: url("fonts/IRANSansXFaNum-Medium.woff") format("woff");
  src: url("fonts/IRANSansXFaNum-Medium.woff2") format("woff2");
}

:root {
  --black: black;
  --white: white;
  --lightblack: rgba(0, 0, 0, 0.808);
  --placeholder: rgba(17, 17, 17, 0.5);
  --abisite: #4756b4;
  --abibtn: #4156d9;
  --lightgray: lightgray;
  --gray: gray;
  --boderSwiper: rgba(211, 211, 211, 0.233);
  --boderSwiper2: rgba(211, 211, 211, 0.438);
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
  padding: 0 20px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper */

.hidden {
  display: none !important;
}
.cursor {
  cursor: pointer;
}
button {
  cursor: pointer;
  font-family: iransans;
}
.i-black {
  color: var(--lightblack);
}
.i-white {
  color: var(--white);
}
body {
  direction: rtl;
  font-family: iransans;
}
::placeholder {
  font-family: iransans;
  color: var(--placeholder);
  font-size: 14px;
}
/* start header and background*/

.relative {
  position: relative;
  height: 620px;
  width: 100%;
  z-index: 997;
  top: 0;
}
.background {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  background: url(img/backgroundheader.webp) center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 20px 20px;
  z-index: -1;
}
/*  */
.khat-space {
  width: 1px;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.24);
}
/*  */
.padding-margin {
  width: 100%;
  max-width: 1536px;
  padding: 0 24px;
  margin: 0 auto;
}
.sad-darsad {
  width: 100%;
  padding: 20px 0;
}
.sad-darsad > div {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
/*  */
.header-scroll {
  background-color: white !important;
  box-shadow: rgba(8, 10, 26, 0.08) 0px 2px 2px 0px !important;
}

header {
  width: 100%;
  height: 78px;
  display: flex;
  top: 0px;
  left: 0;
  margin-bottom: -78px;
  z-index: 998;
  position: sticky;
  align-items: center;
  justify-content: center;
  transition: top 0.5s linear 0s;
}
.header {
  width: 100%;
  max-width: 1488px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 60px;
  width: 100%;
  max-width: 656px;
}
.jostejo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
}
.jostejo > input {
  padding: 0 15px;
  width: 100%;
  outline: none;
  border: 1px solid var(--lightgray);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  height: inherit;
  max-width: 410px;
}
.jostejo > input::placeholder {
  font-size: 12px;
  color: var(--lightblack);
}
.jostejo > button {
  width: 90px;
  outline: none;
  height: inherit;
  border-left: 1px solid var(--lightgray);
  border-top: 1px solid var(--lightgray);
  border-bottom: 1px solid var(--lightgray);
  border-right: none;
  background: none;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}
.jostejo > button > i {
  color: var(--abisite);
  font-size: 17px;
}
.sabtnam {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 12px;
  justify-content: center;
}
.sabtnam > div {
  padding: 10px 15px;
  margin-right: 6px;
  background-color: var(--abisite);
  border-radius: 55px;
  display: flex;
  align-items: center;
}
.sabtnam > div > p {
  color: var(--white);
  font-size: 12px;
  margin-left: 5px;
}
.sabtnam > a {
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s all linear;
}
.sabtnam > a:hover {
  transform: scale(1.1);
}
.paeinheader {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  height: 100%;

  gap: 10px;
}
.title {
  margin-bottom: 5px;
  line-height: 36px;
}
.paeinheader > .title > span {
  font-weight: 600;
  font-size: 32px;
}
.paeinheader > .title > h3 {
  font-size: 14px;
  font-weight: 100;
}
/* inputhayheader */

/* inputhayheader js */
.close {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  border-bottom: 1px var(--lightgray) solid;
}
.close > div > i {
  color: var(--abibtn);
  font-size: 25px;
}
.close > p {
  color: var(--black);
}

/*  */
.inputhayheaderJs {
  width: 100%;
  position: fixed;
  top: 0;
  height: 75px;
  left: 0;
  transform: none;
  z-index: 999 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 25px;
  padding: 10px;
  background-color: var(--white);
}
.inputhayheaderJs > .name-shahr-checked {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  transform: none;
  z-index: 999 !important;
}

.inputhayheaderJs > .name-shahr {
  width: 100%;
  height: 56px;
  z-index: 999 !important;
  border-radius: 100vmax;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputhayheaderJs > .name-shahr > i {
  margin-right: 20px;
  pointer-events: none;
}
.inputhayheaderJs > .name-shahr > input {
  padding: 0 20px;
  outline: none;
  border: none;
  width: 100%;
  height: 56px;
  background: none;
  font-size: 16px;
  font-family: iransans;
}
.inputhayheaderJs > .tarikh-safar {
  display: none;
}

.inputhayheaderJs > .teadad-nafarat {
  display: none;
}
.inputhayheaderJs > .button-jostejo {
  display: none;
}
/*  */
.close {
  display: none;
}
.inputhay-header {
  width: 100%;
  max-width: 969px;
  height: 68px;
  padding: 6px;
  border-radius: 100vmax;
  background-color: var(--white);
  z-index: 999 !important;
  display: flex;
  align-items: center;
}
.inputhay-header > .name-shahr {
  width: 100%;
  height: 56px;
  max-width: 360px;
  z-index: 999 !important;
  border-radius: 100vmax;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputhay-header > .name-shahr > i {
  margin-right: 20px;
}
.inputhay-header > .name-shahr > input {
  padding: 0 20px;
  outline: none;
  border: none;
  width: 100%;
  height: 56px;
  background: none;
  font-size: 16px;
  font-family: iransans;
}
.inputhay-header > .tarikh-safar {
  z-index: 999 !important;
  padding: 0 20px;
  width: 230px;
  margin: 0 5px;
  height: 55px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
}
.inputhay-header > .tarikh-safar > i {
  font-size: 14px;
}
.inputhay-header > .tarikh-safar > span {
  color: var(--placeholder);
  font-size: 14px;
  margin: 0 10px;
}
.inputhay-header > .teadad-nafarat {
  padding: 0 20px;
  width: 164px;
  z-index: 999 !important;
  height: 55px;
  margin: 0 5px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
}
.inputhay-header > .teadad-nafarat > span {
  color: var(--placeholder);
  font-size: 14px;
  margin: 0 10px;
}
.inputhay-header > .teadad-nafarat > i {
  font-size: 14px;
}
.inputhay-header > .button-jostejo {
  padding: 8px 6px;
  border-radius: 80px;
  height: 56px;
  width: 196px;
  background-color: var(--abibtn);
  font-size: 16px;
  line-height: 1.75;
  z-index: 999 !important;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  color: var(--white);
  transition: 0.1s all linear;
}
.button-jostejo:active {
  background-color: #4755b4da;
}
.hashtagh-ha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.hashtagh-ha > a {
  padding: 5px 12px;
  border: 1px solid var(--white);
  background-color: #0b0c1491;
  text-decoration: none;
  border-radius: 40px;
  font-size: 14px;
  transition: 0.2s all linear;
  cursor: pointer;
}
.hashtagh-ha > a:hover {
  background-color: var(--white);
  color: #0b0c14c0;
}
.tanzim-tarikh {
  padding: 16px;
  width: 768px;
  height: 430px;
  position: absolute;
  background-color: var(--white);
  border-radius: 15px;
  transform: translate(-170px, 260px);
}
.tanzim-tarikh > .border {
  padding: 16px;
  border: 1px solid var(--lightgray);
  border-radius: 15px;
  height: 100%;
}
.tanzim-tarikh > .border > .mah-sal {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.tanzim-tarikh > .border > .mah-sal > div:nth-of-type(1) {
  width: 351px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: black;
  gap: 10px;
}
.tanzim-tarikh > .border > .mah-sal > div:nth-of-type(2) {
  width: 351px;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
.tanzim-tarikh > .border > .mah-sal > div > button {
  width: 46px;
  font-size: 16px;
  height: 32px;
  background: none;
  border: 1px solid var(--lightgray);
  border-radius: 6px;
  cursor: pointer;
}
.hafte {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  font-size: 11px;
}
.hafte > div {
  display: flex;
  width: 290px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 12px;
}
.days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.days > div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 310px;
  height: 100%;
  align-items: center;
  gap: 5px;
}
.daysadad {
  padding: 12px 10px;
  cursor: pointer;
  border: 1px solid var(--lightgray);
  border-radius: 8px;
}
/* js and hidden item */
.esm-shahrhaAsli {
  cursor: pointer;
}
.aha {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  padding: 30px;
  transform: none;
  z-index: 999 !important;
  background-color: var(--white);
}
.aha > h3 {
  width: 100%;
  font-size: 16px;
  text-align: right;
  font-weight: 100;
  color: var(--black);
}
.aha > .esm-shahrha,
.aha > .esm-shahrhaAsli {
  display: flex;
  align-items: center;
  padding: 15px 0;
  transition: 0.2s all linear;
  gap: 15px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.897);
}
.aha > .esm-shahrha > div,
.aha > .esm-shahrhaAsli > div {
  padding: 6px 12px;
  background-color: #f4f5ff;
  border-radius: 8px;
}
.aha > .esm-shahrha > div > i,
.aha > .esm-shahrhaAsli > div > i {
  color: var(--abisite);
}
.aha > .esm-shahrha > h5,
.aha > .esm-shahrhaAsli > h5 {
  color: rgb(8, 10, 26);
  font-size: 14px;
  font-weight: 100;
}
.aha > .esm-shahrha:hover,
.aha > .esm-shahrhaAsli:hover {
  border-bottom: 1px solid var(--abibtn);
}
/*  */
.name-shahr-checked2 {
  width: 425px;
  position: absolute;
  background-color: var(--white);
  padding: 20px 16px;
  border-radius: 24px;
  transform: translate(-190px, 240px);
}
.name-shahr-checked2 > h3 {
  width: 100%;
  font-size: 16px;
  text-align: right;
  font-weight: 100;
  color: var(--black);
}
.name-shahr-checked2 > .esm-shahrha {
  display: flex;
  align-items: center;
  padding: 15px 0;
  transition: 0.2s all linear;
  gap: 15px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.897);
}
.name-shahr-checked2 > .esm-shahrha > div {
  padding: 6px 12px;
  background-color: #f4f5ff;
  border-radius: 8px;
}
.name-shahr-checked2 > .esm-shahrha > div > i {
  color: var(--abisite);
}
.name-shahr-checked2 > .esm-shahrha > h5 {
  color: rgb(8, 10, 26);
  font-size: 14px;
  font-weight: 100;
}
.name-shahr-checked2 > .esm-shahrha:hover {
  border-bottom: 1px solid var(--abibtn);
}
/*  */
.name-shahr-checked {
  width: 425px;
  position: absolute;
  background-color: var(--white);
  padding: 20px 16px;
  border-radius: 24px;
  transform: translate(0px, 240px);
}
.name-shahr-checked > h3 {
  width: 100%;
  font-size: 16px;
  text-align: right;
  font-weight: 100;
  color: var(--black);
}
.name-shahr-checked > .esm-shahrha,
.name-shahr-checked > .esm-shahrhaAsli {
  display: flex;
  align-items: center;
  padding: 15px 0;
  transition: 0.2s all linear;
  gap: 15px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.897);
}
.name-shahr-checked > .esm-shahrha > div,
.name-shahr-checked > .esm-shahrhaAsli > div {
  padding: 6px 12px;
  background-color: #f4f5ff;
  border-radius: 8px;
}
.name-shahr-checked > .esm-shahrha > div > i,
.name-shahr-checked > .esm-shahrhaAsli > div > i {
  color: var(--abisite);
}
.name-shahr-checked > .esm-shahrha > h5,
.name-shahr-checked > .esm-shahrhaAsli > h5 {
  color: rgb(8, 10, 26);
  font-size: 14px;
  font-weight: 100;
}
.name-shahr-checked > .esm-shahrha:hover,
.name-shahr-checked > .esm-shahrhaAsli:hover {
  border-bottom: 1px solid var(--abibtn);
}
/*  */
.name-shahr-checked2 {
  width: 425px;
  position: absolute;
  background-color: var(--white);
  padding: 20px 16px;
  border-radius: 24px;
  transform: translate(-190px, 240px);
}
.name-shahr-checked2 > h3 {
  width: 100%;
  font-size: 16px;
  text-align: right;
  font-weight: 100;
  color: var(--black);
}
.name-shahr-checked2 > .esm-shahrha {
  display: flex;
  align-items: center;
  padding: 15px 0;
  transition: 0.2s all linear;
  gap: 15px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.897);
}
.name-shahr-checked2 > .esm-shahrha > div {
  padding: 6px 12px;
  background-color: #f4f5ff;
  border-radius: 8px;
}
.name-shahr-checked2 > .esm-shahrha > div > i {
  color: var(--abisite);
}
.name-shahr-checked2 > .esm-shahrha > h5 {
  color: rgb(8, 10, 26);
  font-size: 14px;
  font-weight: 100;
}
.name-shahr-checked2 > .esm-shahrha:hover {
  border-bottom: 1px solid var(--abibtn);
}

/*  */
.teadad-nafarat-checked {
  position: absolute;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  user-select: none;
  transform: translate(-400px, 90px);
}
.teadad-nafarat-checked > input {
  height: 43px;
  border-top: 1px solid rgba(128, 128, 128, 0.445);
  border-bottom: 1px solid rgba(128, 128, 128, 0.445);
  border-right: none;
  border-left: none;
  text-align: center;
  font-size: 16px;
  padding: 0 15px;
  outline: none;
}
.teadad-nafarat-checked > button:nth-of-type(1) {
  width: 51px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 43px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.445);
  justify-content: center;
  color: var(--abibtn);
  text-align: center;
  font-size: 25px;
  background: none;
}
.teadad-nafarat-checked > button:nth-of-type(2) {
  width: 51px;
  height: 43px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.445);
  background: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  color: #4156d9;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* end header and background*/
/* start slider */
.porbazdid {
  width: 100%;
  margin: 0 auto;
  user-select: none;
  padding: 0 15px;
  max-width: 1200px;
}

.porbazdid::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -10px;

  width: 195px;
  z-index: 2;
  transform: rotate(90deg);
  background: linear-gradient(transparent, white);
  height: 100%;
}
.porbazdid-slider {
  cursor: pointer;
  max-width: 165px;
  min-width: 80px;
  height: 190px !important;
  background-color: var(--lightgray);
  border-radius: 15px;
  font-size: 15px;
}
.porbazdid-slider:nth-child(1) {
  background: url(img/maghsadha/Rasht.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(1)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(2) {
  background: url(img/maghsadha/mashhad.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(2)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}

.porbazdid-slider:nth-child(3) {
  background: url(img/maghsadha/masal.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(3)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(4) {
  background: url(img/maghsadha/Karaj.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(4)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(5) {
  background: url(img/maghsadha/Tehran.jpg) center;
  background-repeat: no-repeat;

  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  position: relative;
  align-items: end;

  justify-content: right;
}
.porbazdid-slider:nth-child(5)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(6) {
  background: url(img/maghsadha/ramsar.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(6)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(7) {
  background: url(img/maghsadha/kish.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(7)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(8) {
  background: url(img/maghsadha/tehran-kordan.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(8)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(9) {
  background: url(img/maghsadha/chalos.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(9)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.porbazdid-slider:nth-child(10) {
  background: url(img/maghsadha/esfahan.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: right;
}
.porbazdid-slider:nth-child(10)::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  background-color: black;
  width: 100%;
  background: linear-gradient(transparent, black);
  height: 30px;
}
.sad-darsad > div > h1 {
  font-size: 16px;
  margin: 15px 20px 15px 15px;
  display: flex;
}

/* 2 3 4 5*/
.tehran::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -150px;
  width: 600px;
  z-index: 2;
  transform: rotate(90deg);
  background: linear-gradient(transparent, white);
  height: 100%;
}
.jonob::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -150px;
  width: 600px;
  z-index: 2;
  transform: rotate(90deg);
  background: linear-gradient(transparent, white);
  height: 100%;
}
.vilaTehran::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -150px;
  width: 600px;
  z-index: 2;
  transform: rotate(90deg);
  background: linear-gradient(transparent, white);
  height: 100%;
}
.vilaShomal::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -150px;
  width: 600px;
  z-index: 2;
  transform: rotate(90deg);
  background: linear-gradient(transparent, white);
  height: 100%;
}
.tehran {
  user-select: none;
}
.title-swiper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.title-swiper > h1 {
  font-size: 16px;
  margin: 15px 20px 15px 15px;
  display: flex;
}
.title-swiper > a {
  color: var(--abibtn);
  text-decoration: none;
  justify-content: center;
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 9px;
  font-size: 14px;
}
.tehran-slider {
  display: flex;
  border: 1px solid var(--boderSwiper);
  align-items: start;
  border-radius: 8px;
  flex-direction: column;
  padding: 3px;
  text-decoration: none;
  color: var(--black);
}
.tehran-slider > img {
  width: 100%;
  height: 240px;
  border-radius: 8px;
}
.tehran-slider > h2 {
  font-size: 14px;
  display: flex;

  width: 100%;
  margin: 12px 0px 4px;
}
.divLoaction {
  display: flex;
  align-items: center;
  gap: 8px;
}
.divLoaction > i,
.divLoaction > p {
  font-size: 12px;
  color: var(--lightblack);
}
.divotagh > p {
  font-size: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: var(--lightblack);
  overflow: hidden;
  width: 110px;
  text-align: right;
}
.divotagh {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: -1px;
}
.divotagh > i {
  font-size: 10px;
}
.divotagh > span {
  color: var(--lightblack);
  display: flex;
  font-size: 12px;
}
.emtiazha {
  background-color: var(--abisite);
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 4px;
  gap: 5px;
}
.emtiazha > i {
  font-size: 9px;
  margin-bottom: 3px;
}
.geymat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-top: 1px solid var(--lightgray);
  margin-top: 30px;
  padding: 10px 0;
}
.geymat > p,
.geymatText > span {
  font-size: 12px;
  color: var(--lightblack);
}
.geymatText {
  font-size: 16px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* majale */
.majale::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  z-index: 2;
  transform: rotate(90deg);
  background: linear-gradient(transparent, white);
  height: 100%;
}
.majale-slider > img {
  width: 100%;
  height: 140px;
  border-radius: 8px;
}
.majale-slider > h2 {
  font-size: 12px;
  text-align: right;
  margin: 10px 0;
}
/* end slider */
/*start suggest */
.suggest {
  display: flex;
  width: 100%;
  max-width: 1198px;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.suggest > article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.suggest > article > img {
  width: 44px;
  height: 44px;
}
.suggest > article > h3 {
  font-size: 14px;
}
/* end suggest */

/* start sliderANDamar */
.sliderANDamar {
  display: flex;
  gap: 15px;
  height: 390;
}
.eghmatgah-bartar-slider {
  padding: 18px 12px 20px;
  width: 496px;
}
.amarha {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 35px 35px 45px;
  gap: 15px;
  border: 1px solid var(--boderSwiper);
  border-radius: 15px;
}
.amarha > div > article {
  width: 44px;
  height: 44px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--abibtn);
  border-radius: 8px;
  background-color: #f4f5ff;
}
.amarha > .itemha > p {
  font-size: 14px;
}
.amarha > .itemha > div > span {
  font-size: 14px;
}
.amarha > .itemha {
  width: 100%;
}
strong {
  font-size: 24px;
}
/*  */
.splide {
  height: 100%;
  max-height: 280px;
}
.splide > h2 {
  font-size: 18px;
  text-align: right;
}
.tanzim-splide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.tanzim-splide > div > img {
  border-radius: 50%;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px 0 rgba(8, 10, 26, 0.24);
}
.tanzim-splide > p {
  font-size: 14px;
}
.namayesh-hame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  text-decoration: none;
  border-radius: 80px;
  border: 1px solid var(--abibtn);
}
/* end sliderANDamar */
/* footer */
footer {
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 rgba(65, 86, 217, 0.16);
  padding-top: 40px;
}
.footer-margin-auto {
  margin: 0 auto;
  width: 100%;
  max-width: 1228px;
  padding: 0 15px;
}
/*  */
.seta-itemha {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
.div-ashnaei-etemad {
  display: flex;
  flex: 2;
  gap: 10px;
}
.data-ashnaeiha {
  display: flex;
  align-items: start;
  justify-content: center;
}
.Ashnaei {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.data-ashnaeiha > ul {
  list-style: none;
  flex-direction: column;
  display: flex;
  font-size: 14px;
  gap: 20px;
  margin-left: 20px;
  justify-content: center;
  color: var(--placeholder);
}
.div-dovom-footer {
  padding: 0px 30px;
  flex: 2;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.div-dovom-footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.div-dovom-footer > input {
  outline: none;
  border: 1px solid #e6e7f2;
  color: #080a1a;
  height: 44px;
  padding: 0 20px;
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  border-radius: 80px;
  text-align: center;
  padding: 0 15px;
}
.div-dovom-footer > input::placeholder {
  font-size: 16px;
  font-weight: 600;
}
.div-dovom-footer > div > a {
  font-size: 32px;
  text-decoration: none;
  color: var(--black);
}
.div-dovom-footer > div > span {
  border: 1px solid #eeeeee;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--abibtn);
}
.div-dovom-footer > .btn-1 {
  width: 300px;
  height: 40px;
  border-radius: 80px;
  border: none;
  background-color: var(--abisite);
  color: var(--white);
  font-size: 16px;
}
.div-dovom-footer > .btn-2 {
  width: 296px;
  font-size: 16px;
  height: 38px;
  margin-top: 5px;
  border: 1px solid var(--abisite);
  color: var(--abisite);
  background: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 100px;
}
.div-sevom-footer {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.div-sevom-footer > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 44px;
  gap: 10px;
}
.div-sevom-footer > div > a {
  width: 112px;
  height: 44px;
  border-radius: 80px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #4156d9;
  border: 1px solid #eeeeee;
  font-size: 23px;
}
/*  */
.etemad {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  justify-content: start;
}
.etemad > img {
  height: 105px;
  width: 105px;
}
.Ashnaei > h5,
.div-sevom-footer > h5,
.etemad > h5,
.div-dovom-footer > h5 {
  font-size: 18px;
  font-weight: 100;
}

/*  */

.ejareha {
  box-shadow: 0 -1px 2px 0 rgba(65, 86, 217, 0.16);

  padding-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ejareha > .samtRast {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}
.EjarevilaShomal,
.EjarevilaJonob,
.EjarevilaTehran {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.EjarevilaShomal > h6,
.EjarevilaJonob > h6,
.EjarevilaTehran > h6 {
  font-size: 18px;
  font-weight: 100;
}
.EjarevilaShomal > a,
.EjarevilaJonob > a,
.EjarevilaTehran > a {
  font-size: 14px;
  text-decoration: none;
  color: var(--lightblack);
}

.ejareha > .samtChap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ejareha > .samtChap > a {
  font-weight: 500;
  padding: 5px 0;
  text-decoration: none;
  color: var(--lightblack);
  font-size: 12px;
  -webkit-text-decoration: none;
  text-decoration: none;
  border: 1px solid var(--boderSwiper2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  margin: 6px;
}
/*  */
.hoghogh-site {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 -1px 2px 0 rgba(65, 86, 217, 0.16);
}
.hoghogh-site-text {
  font-size: 14px;
  color: var(--lightblack);
  padding: 10px 0;
}
/* footer */
/* respansive */
@media (max-width: 1287px) {
  .sad-darsad > div {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 960px;
  }
  .footer-margin-auto {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 960px;
  }
  .ejareha > .samtChap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 990px) {
  .sad-darsad > div {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 720px;
  }
  .footer-margin-auto {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 720px;
  }
  .inputhay-header {
    width: 100%;
    max-width: 843px;
  }
  .hashtagh-ha {
    display: none;
  }
  .relative {
    height: 408px;
  }
  .paeinheader {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .inputhay-header > .name-shahr {
    max-width: 430px;
  }
  .inputhay-header > .tarikh-safar {
    width: 130px;
  }
  .inputhay-header > .tarikh-safar > span {
    font-size: 12px;
  }
  .inputhay-header > .button-jostejo {
    width: 100px;
  }
  .tanzim-tarikh {
    transform: translate(-10px, 260px);
  }
  .sabtnam > a {
    display: none;
  }
  .jostejo {
    justify-content: start;
  }
  .jostejo > input {
    max-width: 238px;
  }
  .flex {
    gap: 20px;
  }
  .suggest {
    justify-content: space-evenly;
  }
  .suggest > article:nth-of-type(4) {
    display: none;
  }
  .sliderANDamar {
    flex-direction: column;
    align-items: center;
  }
  .eghmatgah-bartar-slider {
    width: 100%;
  }
  .amarha {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: none;
  }
  .itemha {
    padding: 15px 20px;
    border-radius: 18px;
    border: 1px solid var(--boderSwiper2);
  }
  .seta-itemha {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .div-ashnaei-etemad {
    width: 100%;
  }
  .etemad {
    width: 100%;
    align-items: center;
    margin-top: 40px;
  }
  .Ashnaei {
    width: inherit;
  }
  .div-dovom-footer {
    width: 100%;
    margin: 40px 0;
    align-items: center;
  }
  .div-dovom-footer > .btn-1 {
    width: 100%;
  }
  .div-sevom-footer {
    width: 100%;
    text-align: center;
  }
  .div-sevom-footer > div {
    place-items: center;
    gap: 20px;
  }
  .ejareha {
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 -1px 0px 0 rgba(65, 86, 217, 0.16);
  }

  a.tagA {
    font-size: 13px;
  }
  .name-shahr-checked2 {
    transform: translate(-140px, 240px);
  }
}

@media (max-width: 830px) {
  .close {
    display: flex;
  }
  header {
    position: relative;
  }
  .inputhay-header {
    margin: 20px;
    width: calc(100% - 30px);
    max-width: 430px;
    height: 60px;
  }
  .khat-space {
    display: none;
  }
  .inputhay-header > .name-shahr {
    width: 100%;
  }
  .inputhay-header > .tarikh-safar {
    display: none;
  }
  .inputhay-header > .teadad-nafarat {
    display: none;
  }
  .inputhay-header > .button-jostejo {
    display: none;
  }
  .flex {
    max-width: 112px;
  }
}
@media (max-width: 767px) {
  .sad-darsad > div {
    padding: 0;
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .eghmatgah-bartar-slider {
    padding: 0;
  }
  li > p {
    font-size: 11px !important;
  }
  .ejareha > .samtChap {
    display: none;
  }
  .hoghogh-site-text {
    font-size: 12px;
    text-align: center;
  }
  .suggest > article > h3 {
    font-size: 11px;
    text-align: center;
  }
  ::before {
    display: none;
  }
  i::before {
    display: block;
  }
  .title-swiper {
    justify-content: space-evenly;
  }
  .title-swiper > a {
    font-size: 11px;
    gap: 5px;
  }
  .title-swiper > h1 {
    font-size: 13px;
  }
}
/* respansive */
